.hidden_desktop{
    display:none;
}

.header {
    position: relative;
    height: 102px;
    padding: 10px;
    margin: 0;
}
.person{
    margin: 30px 10px;
}
.content {
    margin: 10px 10px;
}
.content-elem{
    margin: 10px 10px; 
}
.news {
    width: 200px;
    float: left;
    margin: 0; 
    padding: 0;
}
.intro {
    width: 560px;
    float: left;
}
body{
    background-color: #f8f8f8;
     margin: 0;
      padding:0;
}
.global{
    background-color: #ffffff;
    width: 801px;
    height: 800px;
    margin:  auto;
    padding:5px 10px 100px 10px;
}
.logo {
    float: left;
    width: 100%;
}

.nav {
    position: relative;
    width: 799px;
    height: 40px;
    padding: 1px 0;
    padding-left: 2px;
    margin: 0 ;
    background: #9d1518;
}

.nav-cell{
    float: left;
    display: block;
    line-height: 40px;
    text-align: center;
    color: #fff;
    width: 134px;
    height: 40px;
    margin-left: -1px;
}

.nav-cell:not(#nav-cell-6){
    background-image: url(pic/shutiao.png);
    background-repeat:  no-repeat;
    background-position:  100% 50%;
}

.nav a {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 1px
}

#nav-cell-1 a {
    margin: 0 1px 0 0
}
#nav-cell-6 a {
    margin: 0 0 0 1px
}
.nav-cell-now a {
    background: #cd5c5c;
}
.nav-cell-other a:hover {
    color: #bd0509;
}
.nav-cell-other:hover {
    background-color: #fff;
}