.header {
    position: relative;
    height: 86px;
    margin: 10px 10px;
}
.person{
    margin: 30px 10px;
}
.content {
    margin: 0px 30px;
    font-size:200%;
}
.content-elem{
    margin: 10px 10px; 
}
.news {
    margin: 0; 
    padding: 0;
}
body{
    background-color: #f8f8f8;
     margin: 0;
      padding:0;
}
.global{
    background-color: #ffffff;
    min-height: 1600px;
    padding:5px 10px 100px 10px;
}
.logo {
    float: left;
    width: 770px;
    height: 80px;
}
.nav {
    position: relative;
    height: 50px;
    padding: 1px 0;
    padding-left: 2px;
    margin: 0 auto;
    background: #9d1518;
}

.nav-cell {
    float: left;
    width: 16.75%;
    margin-left: -1px;
}

.nav-cell span {
    display: block;
    width: 100%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: url(pic/shutiao.png) no-repeat 100% 50%;
}

.nav-cell a {
    display: block;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
     margin: 0 1px
}

.nav-cell span.last {
    background: none;
}

.nav-cell  a.first {
    margin: 0 1px 0 0
}
.nav-cell  a.last {
    margin: 0 0 0 1px
}
.nav-cell  a.now {
    display: block;
    background: #cd5c5c;
}

#version-selector {
   -webkit-appearance: menulist-button;
   font-size: 24px;
   height: 36px;
}